*{
    --main-color: rgb(50, 50, 50);
    --secondary-color: rgb(77, 77, 77);
    --background-color: rgb(104, 104, 104);
}

body{
    background-color: var(--background-color);
    text-align: center;
}

h1 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 4rem;
    color: var(--main-color);
}

#stage{
    background-color: var(--main-color);
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square{
    width: 125px;
    height: 125px;
    background-color: var(--secondary-color);
    margin: 5px 3px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(45, 34, 107);
    font-size: 100px;
    font-family: Roboto;
    user-select: none;
}
.square:hover {
    background-color: rgb(65, 65, 65);
}
.square:active {
    background-color: rgb(90, 90, 90);
}

#btn_reset > a {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
    transition: 0.5s; 
}
#btn_reset > a:hover {
    transform: translateX(-60%); 
    color: rgb(45, 34, 107);
}

a{
    font-size: 3rem;
    color: var(--main-color);
    text-decoration: none;
    color: var(--main-color);
}